* {
    box-sizing: border-box;
}

body {
    margin:0 px;
    
    
}

header h1{
    text-align: center;
    font-family:Black Ops One;
    font-size: 40px;
    overflow: hidden;
    color: white;
    cursor:pointer;
}

header h1:hover
{
color:yellow;
}


header {
    padding: 40px;
    
    
    background-color: #111827;
}




.logo{
    width: 200px;
    float:left;
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        box-shadow: 0 5px 15px 0px 
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(5, 1, 37, 0.2);
        transform: translatey(-20px);
    }
}
nav {

    background-color: #333;
    overflow: hidden;
   
     position: sticky;
    top: 0;
 
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border:0px solid white;
    float: left;
    color:#87CEFA;
   
}

.box1{
background-color: #333;
border:2px solid white;
border-radius:4px;
font-family:Black Ops One;
cursor:pointer;
}

.box2{
background-color: #333;
border:2px solid white;
font-family:Black Ops One;
cursor:pointer;
}

.box3{
color:red;
background-color: #333;
border:2px solid white;
font-family:Black Ops One;
cursor:pointer;
}

.box4{
background-color: #333;
border:2px solid white;
font-family:Black Ops One;
cursor:pointer;
}

nav a:hover
{
color:white;
}

nav a:visited{
    color:  ;
}

main {
    background-color:#C0C0C0;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: rgb(51, 51, 51);
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
footer a:hover
{
color:blue;
}

{
    font-family: 'Poppins', sans-serif;
  
}

body {
    background-color: #111827;
    color: white;
    display: fle;
    flex-wrap: wra;

    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

h1 {
    font-size: 6rem;
    background: linear-gradient(to right, #fff 20%, #65C7F7 40%, #0052D4 60%, #fff 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    to {
        background-position: 100% center;
    }
}